body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
header {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.415);
    color: #000;
    padding: 1em;
    margin-bottom: 20px;
    text-align: center;
    top: 0%;
    width: 100%;
}
header h3{
    font-style: italic;
    color: bisque
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent background for readability */
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    margin: 10px;
}

.photo img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #fff;
}

.info {
    text-align: center;
}

.info h1 {
    margin: 10px 0;
    font-size: 2em;
}

.info p {
    margin: 5px 0;
}

.info a {
    color: #4CAF50;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}
#myBtn {
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: rgb(49, 157, 145);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#myBtn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}
.Home {
    position: absolute;
    top: 10px; /* Distance from the top edge */
    left: 10px; /* Distance from the left edge */
    padding: 10px 20px; /* Padding inside the button */
    background-color: #4CAF50; /* Background color of the button */
    color: white; /* Text color of the button */
    border: none; /* Removes default border */
    border-radius: 100px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 20px; /* Font size of the button text */
    transition: all 0.5s; /* Smooth transition for hover effects */
    z-index: 100; /* Ensures the button is on top of other content */
}

.Home:hover {
    background-color: #3e8e41; /* Darker color on hover */
}

.Home:active {
    background-color: #3e8e41; /* Darker color on active state */
    box-shadow: 0 5px #666; /* Shadow effect on active state */
    transform: translateY(4px); /* Pushes the button down slightly on click */
}