body {
    background: url('https://wallpapers.com/images/hd/4k-blue-minimalist-deer-5fc2dalaakntatt7.jpg')no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.415);
    color: #000;
    padding: 1em;
    text-align: center;
}

header h4 {
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    font-size: x-large;
    background-color: #17ba9764;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: x-large;
    color: black;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0 15px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-bottom: 2px;
}
.photo {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 100%;
}
.Home {
    position: absolute;
    top: 10px; /* Distance from the top edge */
    left: 10px; /* Distance from the left edge */
    padding: 10px 20px; /* Padding inside the button */
    background-color: #4CAF50; /* Background color of the button */
    color: white; /* Text color of the button */
    border: none; /* Removes default border */
    border-radius: 100px; /* Rounds the corners of the button */
    cursor: pointer; /* Changes cursor to pointer on hover */
    font-size: 20px; /* Font size of the button text */
    transition: all 0.5s; /* Smooth transition for hover effects */
    z-index: 100; /* Ensures the button is on top of other content */
}

.Home:hover {
    background-color: #3e8e41; /* Darker color on hover */
}

.Home:active {
    background-color: #3e8e41; /* Darker color on active state */
    box-shadow: 0 5px #666; /* Shadow effect on active state */
    transform: translateY(4px); /* Pushes the button down slightly on click */
}
#myBtn {
    height: 50px;
    width: 50px;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: rgb(49, 157, 145);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

#myBtn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}
.container:hover {
    transform: translateY(-10px) scale(1.00);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: rgb(126, 179, 179);
}
